<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591438057904-08rfqalp8i9bi0ao8upgss0tajnh1ses.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591438057904-08rfqalp8i9bi0ao8upgss0tajnh1ses</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>591438057904-uf9pmfq8mbrtlovs9g613q2vefcc6hqa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAO7q8TkZva-bHynmjWqtvI4rTRJ3cXtMc</string>
	<key>GCM_SENDER_ID</key>
	<string>591438057904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gigmatch</string>
	<key>PROJECT_ID</key>
	<string>gig-match-efc1f</string>
	<key>STORAGE_BUCKET</key>
	<string>gig-match-efc1f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591438057904:ios:1eb999dd1cff6a1c388675</string>
</dict>
</plist>
